.searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.weather__Card{
    float: left;
    width: 46%;
    margin: 10px;
}

.outer__weather{
    height: auto;
    width: 100%;
    margin-top: 50px;
}

.inner__weather{
    display: block;
    height: 50%;
    width: 100%;
}
.weather_info{
    background-image: url('../images/windy.jpg');     
    background-size: cover;
    background-color: white;
    float: left;
    width: 50%;
    height: 100%;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

.weather_info > h1{
    color: aliceblue;
}

.searchBar__form{
    height: 200px;
    width: 50%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__inputs{
    background-color: transparent;
    backdrop-filter: blur(100px);
    border-radius: 15px;
}

.textBox{
    background-color: transparent;
    color: white;
    margin: 5px;
    height: 30px;
    width: 400px;
    border: none;
}

.textBox:focus{
    outline: none;
}
.submitButton{
    color: white;
    background-color: transparent;
    margin: 5px;
    height: 35px;
    border: none;
    width: 60px;
}


.submitButton:hover{
    cursor: pointer;
}

::placeholder {
    color: rgb(190, 189, 189);
    opacity: 1;
  }

  h1{
    padding: 20px;
  }